@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;    
}

html, body {
    height: 100%;
    background-color: #152733;    
}

#intro_login, #simulador, #resultado {
    display: none;
}

.login {
    max-width: 800px;    
}

.valid-feedback.login, .valid-feedback.pass  {
    margin-left: 7%;
}

.invalid-feedback.login, .invalid-feedback.pass  {
    margin-left: 17%;
}

.login_input {
    width: 290px;
    margin-left: 17%;
}

.btn {
    width: 200px;
}


#btn_registrar {
    margin-left: 7%;
}

.form-content, .form-content-result, .form-content-info {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px 2% 2px 2%;    
}

.form-content {
    padding: 2px 2%;       
}

.form-content-result {
    padding-top: 2px;       
}

.form-content .form-items, .form-content-result .form-items, .form-content-info .form-items{
    border: 3px solid #fff;
    padding: 40px;
    display: block;
    width: 78%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

.form-content-result .form-items{
    border: 3px solid rgb(56, 130, 214);
    background-color: #234053; 
}

.form-content h3, .form-content-result h3, .form-items h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
}

.form-content h3.form-title {
    margin-bottom: 20px;
}

.form-content p, .form-content-info p{
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content-info p {
    margin: 0px;

}

.form-content-info li {
    color:rgb(146, 146, 146);
    font-size: 14px;
    margin-left: 20px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content input[type=number], .form-content select, #myPercent {
    width: 92%;
    max-width: 800px;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content-result input[type=number] {
    width: 92%;
    max-width: 800px;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: rgb(206, 204, 204);
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.col-md-12 {
    margin-top: 10px;
}

#myPercent, .form-content input[type=number] {
    width: 50%;
    max-width: 290px;
}
.form-content-result input[type=number] {
    width: 50%;
    max-width: 250px;
}

.form-content select {
    width: 50%;
    max-width: 290px;
}

.btn-primary{
    background-color: #247dcd;
    outline: none;
    border: 0px;
    box-shadow: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;    
    align-items: right;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.res-body {
    background-color: #2acc80;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
    display: none;
}

.valid-feedback{
   color: #2acc80;
}

/* Dolares */
#div_dolar {
    width: 230px;
    height: 350px;
    margin: 0%;
    padding: 0%;
    right: 0%;
    position: absolute;
    top: 130px;
    display: none;
    cursor:pointer;
}

.div_dolar_val {
    width:220px;
    height:175px;
    border-radius:10px;
    box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
    display:flex;
    justify-content:center;
    border:1px solid #bcbcbc; 
    background-color: rgb(255, 255, 255);  
}

.div_dolar_val img {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 150px;
}

.div_dolar_val h2 {
    display: block;
    margin: auto;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bolder;
    
}

.data_valores {
    display: flex;
    justify-content: space-evenly;    
    width: 100%;
}

.data_valores p {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
    color: #18937e;
    margin: 0 10px;
    font-weight: 700;
}

.data_valores span {
    font-size: 16px;
    color: #959595;
    font-weight: 500;
}

.data_titulo {
    font-size: 24px!important;
    color: #959595;    
    font-weight: 700;
    text-transform: uppercase;
}

.container__img {    
    border-radius: 5px;
}

#data_titulo_oficial, #data_titulo_blue{
    margin: 0px!important;    
}

#sm_logo img {
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 10000;
    margin-left: 25px;
    margin-top: 5px;
}

.btn-outline-success {
    --bs-btn-color: rgb(92,255,230);
    --bs-btn-border-color: rgb(92,255,230);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(92,255,230);
    --bs-btn-hover-border-color: rgb(92,255,230);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(92,255,230);
    --bs-btn-active-border-color: rgb(92,255,230);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(92,255,230);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(92,255,230);
    --bs-gradient: none;
}

#input_usr, #input_pass {
    width: 70%;
    margin-left: 7%;
}
